.env.real
__pycache__/
*.pyc
*.pyo
data/raw/
data/processed/
models/saved/
models/checkpoints/
logs/
notebooks/.ipynb_checkpoints/
.vscode/
.idea/
*.egg-info/
dist/
build/
venv/
agend.md
Next_step.md
